@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    HOC VIEN KY THUAT MAT MA<br />
    17A, CONG HOA STREET<br />
    Phone Number: (+84)123456789<br>

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@at13.vn">Support@at13.vn</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@at13.vn">Marketing@at13.vn</a>
</address>